h1 { color: #516769;}
h2 { color: #FFA39E; font-size: 32pt};

body{
    margin: 40px;
}

/*Outer box for section 1 of About page*/
.a{
    grid-column: col 1 / span 4;
	grid-row: row 1;
	display: grid;
    grid-gap: 10px;
	grid-template-columns: 2fr 1fr;
}

/*Left inner box for section 1 of About page*/
.b{
    grid-column: 1;
    grid-row: 1 / 2;
}

/*Right inner box for section 1 of About page*/
.c{
    grid-column: 2;
    grid-row: 1;
}

/*Section 2 of About page*/
.d{
    background-color: #BFD5D7;
    color: #516769;
}
