@font-face { 

    font-family: Alike; /*this is where we give our font a name so we can use it!*/
    
    src: url("Alike/Alike-Regular.ttf");
    
}

@font-face { 

     font-family: Montserrat; /*this is where we give our font a name so we can use it!*/
        
     src: url("Montserrat/Montserrat-VariableFont_wght.ttf");
        
}


body {
    margin: 0;
}

h1 { color: #516769; font-family: Alike;}
h2 { color: #FFA39E; font-size: 32pt; margin-top: 10px; margin-bottom: 3px; font-family: Montserrat;}
h3 { color: #516769; font-family: Montserrat;}
p { color: #516769;font-family: Alike;}
blockquote { color: #516769; font-family: Alike;}

/*Outer box for section 1 of About page*/
.a{
    grid-column: col 1 / span 2;
	grid-row: row 1 / span 2;
	display: grid;
    grid-gap: 10px;
	grid-template-columns: 2fr 1fr;
    grid-template-rows: 3fr 1fr;
}

/*Left inner box for section 1 of About page*/
.b{
    grid-column: 1;
    grid-row: 1 / span 2;
}

/*Right inner box for section 1 of About page*/
.c{
    grid-column: 2;
    grid-row: 1;
}

.cb {
    grid-column: 2;
    grid-row: 2;
}

/*Section 2 of About page*/
.d{
    background-color: #BFD5D7;
    color: #516769;
}

footer {
    background-image: url(FooterBG.png);
    margin-bottom: 0;
}

footer p {
    color: #ffffff;
}

footer a {
    color: #ffffff;
}

/*small icon settings*/
.icon {
    width: 16px;
    height: 16px;
}

/*big icon settings*/
.iconbig {
    position: absolute;
    width: 0px;
    -webkit-transition:width 0.3s linear 0s;
    transition:width 0.3s linear 0s;
    z-index:10;
    transform: translateY(-20px);
}

/*display big icon on hover*/
.icon:hover + .iconbig{
    width: 20px;
}

@media only screen and (max-width: 640px) {
    h1 { color: #516769; font-size: 22pt; font-family: Alike;}
    h2 { color: #FFA39E; font-size: 20pt; margin-top: 10px; margin-bottom: 3px; font-family: Montserrat;}
    h3 { color: #516769; font-size: 14pt; font-family: Montserrat;}
    p { color: #516769; font-size: 12pt; font-family: Alike;}
    blockquote { color: #516769; font-size: 10pt; font-family: Alike;}

    .eb {
        height: 50%;
        width: 100%;
    }
}

/*set page print settings*/
@media print {
    * {
        background: transparent !important;
        color: #000000 !important;
    }

    nav {
        display: none;
    }

/*Outer box for section 1 of About page*/
.a{
    grid-column: col 1;
	grid-row: row 1 / span 2;
	display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr;
    grid-template-rows: 3fr 1fr;
}

/*center name*/
.a h2 {
    text-align: center;
    font-size: 18pt;
}

/*center job title*/
.a h3 {
    text-align: center;
    font-size: 16pt;
}

/*justify paragraphs*/
.a p {
    text-align: justify;
    font-size: 12pt;
}

/*Left inner box for section 1 of About page*/
.b{
    grid-column: 2;
    grid-row: 1;
}

/*Hide image on About page for print version*/
.c{
    display: none;
}

/*Block quote*/
.cb {
    grid-column: 2;
    grid-row: 2;
}

/*Section 2 of About page*/
.d {
    text-align: center;
}

.d h3 {
    font-size: 16pt;
}

.d p {
    font-size: 12pt;
}

/*Hide video on About page for print version*/
.e {
    display: none;
}

footer {
    position: absolute;
    bottom: 0;
}

/*display link text*/
    a[href^="http:"]::after {
        content: "[" attr(href)"]";
        color: blue;
    }
}

/*set page print margins*/
@page {
    margin: 1in;
}
