@font-face { 

    font-family: Alike; /*this is where we give our font a name so we can use it!*/
    
    src: url("Alike/Alike-Regular.ttf");
    
}

@font-face { 

     font-family: Montserrat; /*this is where we give our font a name so we can use it!*/
        
     src: url("Montserrat/Montserrat-VariableFont_wght.ttf");
        
}

header{
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 999;
}

body {
    margin: 0;
}

h1 { color: #516769; font-family: Alike;}
h2 { color: #FFA39E; font-size: 32pt; margin-top: 10px; margin-bottom: 3px; font-family: Montserrat;}
h3 { color: #516769; font-family: Montserrat;}
p { color: #516769;font-family: Alike;}
blockquote { color: #516769; font-family: Alike;}


.a{
    grid-column: col 1 / span 4;
	grid-row: row 1;
	display: grid;
    grid-gap: 10px;
    text-align: center;
}

.b{
    grid-column: col 2 / 3;
	grid-row: row 1;
	display: grid;
    grid-gap: 10px;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

/*Outer container for section 3 of Home page*/
.c{
    grid-column: col 1 / span 4;
	grid-row: row 1;
	display: grid;
    grid-gap: 10px;
	grid-template-columns: 1fr 1fr;
}

/*Center all paragraphs within outer container for section 3*/
.c p{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

/*Left upper box for section 1 of About page*/
.d{
    grid-column: 1;
    grid-row: 1;
    text-align: center;
}

/*Right upper box of Home page*/
.e{
    grid-column: 2;
    grid-row: 1;
    text-align: center;
}

/*Left lower box of Home page*/
.f{
    grid-column: 1;
    grid-row: 2;
    text-align: center;
}

/*Right lower box of Home page*/
.g{
    grid-column: 2;
    grid-row: 2;
    text-align: center;
}

footer {
    position: fixed;
    background-image: url(FooterBG.png);
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 5px;
}

footer p {
    color: #ffffff;
}

footer a {
    color: #ffffff;
}

/*small icon settings*/
.icon {
    width: 16px;
    height: 16px;
}

/*big icon settings*/
.iconbig {
    position: absolute;
    width: 0px;
    -webkit-transition:width 0.3s linear 0s;
    transition:width 0.3s linear 0s;
    z-index:10;
    transform: translateY(-20px);
}

/*display big icon on hover*/
.icon:hover + .iconbig{
    width: 20px;
}

@media only screen and (max-width: 640px) {
    h1 { color: #516769; font-size: 22pt; font-family: Alike;}
    h2 { color: #FFA39E; font-size: 20pt; margin-top: 10px; margin-bottom: 3px; font-family: Montserrat;}
    h3 { color: #516769; font-size: 14pt; font-family: Montserrat;}
    p { color: #516769; font-size: 12pt; font-family: Alike;}
}
