{
    margin: 0;
    padding: 0;
}

nav {
    width: 100%;
    height: 60px;
    background-color: #669DA3;
}

nav p {
    color: #ffffff;
    font-size: 24px;
    line-height: 55px;
    float: left;
    padding: 15px 15px 15px 15px;
}

nav ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: flex-end;
    padding: 20px 15px 15px 15px;
}

nav ul li {
    list-style-type: none;
    padding: 15 px;
}

nav ul li a {
    color: #ffffff;
    font-size: 14px;
    padding: 22px 14px;
    text-decoration: none;
}

nav ul li ul {
    display: none;
    position: absolute;
    background-color: #669DA3;
    padding: 5px;
    border-radius: 0px 0px 4px 4px;
}

nav ul li:hover ul {
    display: block;
}

nav ul li ul li {
    border-radius: 4px;
    text-align: center;
}

nav ul li ul li a {
    padding: 8px 14px;
}

nav ul li ul li a:hover {
    color: #ffe09e
}