html, body {
    width: 100%;
    height: 100%;
    margin: 0;
}

/* Settings for navigation bar background */
nav {
    width: 100%;
    height: 60px;
    background-color: #669DA3;
}

/* Settings for page name in navigation bar */
nav p {
    color: #ffffff;
    font-size: 22px;
    float: left;
    margin-top: 15px;
    margin-bottom: 10px;
    padding-left: 10px;
}

/* Settings for outermost unordered list in navigation bar */
nav .menu ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: flex-end;
    padding: 20px 15px 15px 15px;
}

/* Settings for tier 1 list items */
nav .menu ul li {
    list-style-type: none;
    padding: 15 px;
}

/* Settings for tier 1 list links */
nav .menu ul li a {
    color: #ffffff;
    font-size: 14px;
    padding: 22px 14px;
    text-decoration: none;
}

/* Hover highlight for tier 1 list links */
nav .menu ul li a:hover {
    color: #ffe09e;
}

/* Settings for nested unordered list in navigation bar */
nav .menu ul li ul {
    display: none;
    position: absolute;
    background-color: #669DA3;
    padding: 5px;
    border-radius: 0px 0px 4px 4px;
}

/* Settings for nested unordered list to display on hover */
nav .menu ul li:hover ul {
    display: block;
}

/* Settings for 2nd tier list */
nav .menu ul li ul li {
    border-radius: 4px;
    text-align: center;
}

/* Settings for 2nd tier list links */
nav .menu ul li ul li a {
    padding: 8px 14px;
}

/* Hover highlight for 2nd tier list links */
nav .menu ul li ul li a:hover {
    color: #ffe09e;
}

@media only screen and (max-width: 640px) {
	
	nav .menu ul, nav:active ul {
		display: none;
		position: absolute;
		padding: 20px 20px 20px 0px;
		top: 20px;
			}
	nav .menu:hover ul {
		display: block;
	}
    	nav .menu:hover #mobileHide {
		display: none;
	}
	nav .menu li {
		text-align: center;
		padding: 0;
		margin: 0;
	}
    nav .menu>ul li {
    text-align: left;
    font-weight: bold;
    float: left;
}
nav .menu a {
    text-decoration: none;
    display: inline-block;
    border-top: none;
    border-bottom: none;
    padding: 15px 0px 15px 35px;
    width: 240px;
    margin-bottom: 2px;
    background-color: #669DA3;
}
}