@font-face { 

    font-family: Alike; /*this is where we give our font a name so we can use it!*/
    
    src: url("Alike/Alike-Regular.ttf");
    
}

@font-face { 

     font-family: Montserrat; /*this is where we give our font a name so we can use it!*/
        
     src: url("Montserrat/Montserrat-VariableFont_wght.ttf");
        
}

h1 { color: #516769; font-family: Alike;}
h2 { color: #FFA39E; font-size: 32pt; margin-top: 10px; margin-bottom: 3px; font-family: Montserrat;}
h3 { color: #516769; font-family: Montserrat;}
p { color: #516769;font-family: Alike;}
blockquote { color: #516769; font-family: Alike;}

header{
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 999;
}

body {
    margin: 0;
}

/*Outer box for section 1 of Project page*/
.a{
    grid-column: col 1 / span 3;
	grid-row: row 1;
	display: grid;
    grid-gap: 10px;
	grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: 1fr;
    padding: 10px;
}

/*Left inner box for section 1 of Project page*/
.b{
    grid-column: 1;
    grid-row: 1;
}

/*Right inner box 1 for section 1 of Project page*/
.ca{
    grid-column: 2;
    grid-row: 1;
}
 /*Right inner box 2 for section 1 of Project page*/
.cb{
    grid-column: 3;
    grid-row: 1;
    
}

/*Table settings w/in cb*/
.cb table{
    width: 500px;
    border: 1px solid #516769;
    text-align: center;
    border-collapse:collapse;
}

.cb table thead{
    background-color: #FFA39E;
}

.cb table th{
    border: 1px solid #516769;
}

.cb table tr{
    border: 1px solid #516769;
}

.cb table tr td{
    border: 1px solid #516769;
}

.cb table tbody tr:nth-child(odd){
    background-color: #FFE09E;
}

.cb table tfoot{
    background-color: #FFA39E;
}

/*Section 2 of Project page*/
.d{
    background-color: #BFD5D7;
    color: #516769;
    padding: 10px;
}

/*Section 3 of Project page*/
.e{
    padding: 10px;
}

/*Footer section*/
footer {
    background-image: url(FooterBG.png);
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 5px;
}

footer p {
    color: #ffffff;
}

footer a {
    color: #ffffff;
}

/*small icon settings*/
.icon {
    width: 16px;
    height: 16px;
}

/*big icon settings*/
.iconbig {
    position: absolute;
    width: 0px;
    -webkit-transition:width 0.3s linear 0s;
    transition:width 0.3s linear 0s;
    z-index:10;
    transform: translateY(-20px);
}

/*display big icon on hover*/
.icon:hover + .iconbig{
    width: 20px;
}

@media only screen and (max-width: 900px) {

    .a{
        grid-column: col 1 / span 2;
        grid-row: row 1 / span 2;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-gap: 2%;
    }
    
    .b{
        grid-column: 1;
        grid-row: 1 / 2;
    }

    .ca{
        grid-column: 2;
        grid-row: 1;
    }

    .cb{
        grid-column: 2;
        grid-row: 2;
        align-items: center;
    }

    .cb table{
        width: 100%;
        font-size: 12px;
    }
}

@media only screen and (max-width: 650px) {
    h1 { color: #516769; font-size: 22pt; font-family: Alike;}
    h2 { color: #FFA39E; font-size: 20pt; margin-top: 10px; margin-bottom: 3px; font-family: Montserrat;}
    h3 { color: #516769; font-size: 14pt; font-family: Montserrat;}
    p { color: #516769; font-size: 12pt; font-family: Alike;}

    .a{
        grid-column: col 1;
        grid-row: row 1 / span 3;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-gap: 2%;
    }
    
    .b{
        grid-column: 1;
        grid-row: 1;
    }

    .ca{
        grid-column: 1;
        grid-row: 2;
    }

    .cb{
        grid-column: 1 / 2;
        grid-row: 3;
        align-items: center;
    }

    .cb table{
        width: 100%;
        font-size: 12px;
    }
}