@font-face { 

    font-family: Alike; /*this is where we give our font a name so we can use it!*/
    
    src: url("Alike/Alike-Regular.ttf");
    
}

@font-face { 

     font-family: Montserrat; /*this is where we give our font a name so we can use it!*/
        
     src: url("Montserrat/Montserrat-VariableFont_wght.ttf");
        
}

h1 { color: #516769; font-family: Alike;}
h2 { color: #FFA39E; font-size: 32pt; margin-top: 10px; margin-bottom: 3px; font-family: Montserrat;}
h3 { color: #516769; font-family: Montserrat;}
p { color: #516769;font-family: Alike;}
blockquote { color: #516769; font-family: Alike;}

body{
    margin: 5px;
}

/*Outer box for section 1 of Project page*/
.a{
    grid-column: col 1 / span 4;
	grid-row: row 1;
	display: grid;
    grid-gap: 10px;
	grid-template-columns: 2fr 1fr;
}

/*Left inner box for section 1 of Project page*/
.b{
    grid-column: 1;
    grid-row: 1 / 2;
}

/*Right inner box for section 1 of Project page*/
.c{
    grid-column: 2;
    grid-row: 1;
}

/*Section 2 of Project page*/
.d{
    background-color: #BFD5D7;
    color: #516769;
}

@media only screen and (max-width: 640px) {
    h1 { color: #516769; font-size: 22pt; font-family: Alike;}
    h2 { color: #FFA39E; font-size: 20pt; margin-top: 10px; margin-bottom: 3px; font-family: Montserrat;}
    h3 { color: #516769; font-size: 14pt; font-family: Montserrat;}
    p { color: #516769; font-size: 12pt; font-family: Alike;}
}