@font-face { 

    font-family: Alike; /*this is where we give our font a name so we can use it!*/
    
    src: url("Alike/Alike-Regular.ttf");
    
}

@font-face { 

     font-family: Montserrat; /*this is where we give our font a name so we can use it!*/
        
     src: url("Montserrat/Montserrat-VariableFont_wght.ttf");
        
}


h1 { color: #516769; font-family: Alike;}
h2 { color: #FFA39E; font-size: 32pt; margin-top: 10px; margin-bottom: 3px; font-family: Montserrat;}
h3 { color: #516769; font-family: Montserrat;}
p { color: #516769;font-family: Alike;}

body{
    margin: 0;
}

/*Outer box for sections 1 & 3 of Reflection page*/
.a{
    grid-column: col 1 / span 4;
	grid-row: row 1;
	display: grid;
    grid-gap: 10px;
	grid-template-columns: 1fr 1fr 1fr;
}

/*Left inner box for sections 1 & 3 of Reflection page*/
.ba{
    grid-column: 1;
    grid-row: 1;
}
 /*Right inner box 2 for section 1 & 3 of Project page*/
.bb{
    grid-column: 2;
    grid-row: 1;
    
}

/*Right inner box for sections 1 & 3 of Reflection page*/
.c{
    grid-column: 3;
    grid-row: 1;
}

/*Outer box for sections 2 & 4 of Reflection page*/
.d{
    grid-column: col 1 / span 4;
	grid-row: row 1;
	display: grid;
    grid-gap: 10px;
	grid-template-columns: 1fr 1fr 1fr;
}

/*Leftmost inner box for sections 2 & 4 of Reflection page*/
.e{
    grid-column: 1;
    grid-row: 1;
}

/*Second most left inner box for sections 2 & 4 of Reflection page*/
.f{
    grid-column: 2;
    grid-row: 1;
}

/*Rightmost inner box for sections 2 & 4 of Reflection page*/
.g{
    grid-column: 3;
    grid-row:1;
}

footer {
    background-image: url(FooterBG.png);
    margin-bottom: 0;
}

footer p {
    color: #ffffff;
}

footer a {
    color: #ffffff;
}

/*small icon settings*/
.icon {
    width: 16px;
    height: 16px;
}

/*big icon settings*/
.iconbig {
    position: absolute;
    width: 0px;
    -webkit-transition:width 0.3s linear 0s;
    transition:width 0.3s linear 0s;
    z-index:10;
    transform: translateY(-20px);
}

/*display big icon on hover*/
.icon:hover + .iconbig{
    width: 20px;
}

@media only screen and (max-width: 640px) {
    /*Resize text*/
    h1 { color: #516769; font-size: 22pt; font-family: Alike;}
    h2 { color: #FFA39E; font-size: 20pt; margin-top: 10px; margin-bottom: 3px; font-family: Montserrat;}
    h3 { color: #516769; font-size: 14pt; font-family: Montserrat;}
    p { color: #516769; font-size: 12pt; font-family: Alike;}

    /*Outer box for sections 2 & 4 of Reflection page*/
    .d{
        grid-column: col 1 / span 4;
        grid-row: row 1 / span 2;
        display: grid;
        grid-gap: 10px;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
    
    /*Leftmost inner box for sections 2 & 4 of Reflection page*/
    .e{
        grid-column: 1;
        grid-row: 1 / span 2;
    }
    
    /*Second most left inner box for sections 2 & 4 of Reflection page*/
    .f{
        grid-column: 2;
        grid-row: 1;
    }
    
    /*Rightmost inner box for sections 2 & 4 of Reflection page*/
    .g{
        grid-column: 2;
        grid-row:2;
    }

    /*Outer box for sections 1 & 3 of Reflection page*/
    .a{
        grid-column: col 1 / span 4;
	    grid-row: row 1 / span 2;
	    display: grid;
        grid-gap: 10px;
	    grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr
    }

    /*Left inner box for sections 1 & 3 of Reflection page*/
    .ba{
        grid-column: 1;
        grid-row: 1;
    }
    /*Right inner box 2 for section 1 & 3 of Project page*/
    .bb{
        grid-column: 1;
        grid-row: 2;
    
    }

    /*Right inner box for sections 1 & 3 of Reflection page*/
    .c{
        grid-column: 2;
        grid-row: 1 / span 2;
    }
}
